---
import { Image } from 'astro:assets'
import FormattedDate from '@/components/FormattedDate'
import ArrowUp from '@/components/icons/ArrowUp'

const {
	id,
	data: { title, description, pubDate, heroImage, category },
	readTime,
	slug
} = Astro.props
---

<article class='grid grid-rows-[220px_auto] min-h-full group border border-gray-100 dark:border-gray-800 rounded-sm overflow-hidden bg-white dark:bg-[#0f0e13]'>
	<a class='relative overflow-hidden' href={`/post/${slug}/`}>
		<Image
			src={heroImage}
			width={600}
			height={200}
			format='webp'
			class='h-full min-w-full object-cover hover:scale-[101%] transition-all duration-200'
			alt={`img of ${title}`}
		/>

		<div class='z-30 absolute bottom-0 w-full h-16'>
			<div class='-z-10 absolute bottom-0 bg-gradient-to-t from-black/80 to-transparent w-full min-h-full'></div>
			<div class='flex items-end justify-between gap-x-1 text-white px-4 py-3 h-full'>
				<div class='flex flex-col gap-1'>
					<span class='text-[10px] uppercase font-bold tracking-wider'>{category}</span>
				</div>
				<span class='text-[11px] font-medium'>{readTime}</span>
			</div>
		</div>
	</a>

	<div class='flex justify-between flex-col gap-4 p-5'>
		<div class='flex flex-col gap-3'>
			<div class='text-xs text-gray-500 dark:text-gray-400'>
				<FormattedDate date={pubDate} />
			</div>
			
			<div class='flex flex-col gap-2'>
				<a class='text-xl font-bold leading-tight -tracking-wide group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-colors' href={`/post/${slug}/`}>
					{title}
				</a>
			</div>

			<p class='overflow-hidden line-clamp-2 text-sm text-gray-600 dark:text-gray-400 mb-2'>
				{description}
			</p>
		</div>

		<footer class='flex justify-between items-center mt-2'>
			<a
				href={`/post/${slug}/`}
				class='flex justify-center items-center dark:text-white hover:text-blue-600 dark:hover:text-blue-400 transition-colors text-sm font-bold uppercase tracking-wide gap-1'
				aria-label={`go to ${title}`}
			>
				Read Post <span class='group-hover:translate-x-1 transition-transform'><ArrowUp width='14' height='14' /></span>
			</a>
		</footer>
	</div>
</article>

<script>
	import { animate } from 'motion'

	const images = document.querySelectorAll('img')

	document.addEventListener('DOMContentLoaded', function () {
		const showAnimations = localStorage.getItem('animations') === 'true'

		if (showAnimations) {
			animate(
				'.effect',
				{
					opacity: [0, 1],
					clipPath: ['circle(0% at 0% 0%)', 'circle(100% at 50% 50%)']
				},
				{ duration: 2, easing: 'ease' }
			)
		} else {
			images.forEach((img) => {
				img.classList.remove('opacity-0')
			})
		}
	})
</script>
